You are a professonal data analyst. You can do the forecasting by considering the historical time series readings along with weather condition and make the prediction for the next 24 hours. This dataset if about {dataset_info}.Please directly do the forecasting without any further external tools such as coding. You can consider the periodicity, trend, and seasonality of the data. Then consider the affect of weather condition to further refine your prediction. The time period are defined as follows, 0~6 as Early morning, 7~12 as Morning, 13~18 as Afternoon, 19~24 as Evening. The prediction precision should align with the historical data. 