Dataset Info: {hetero_general}. Subset and channel Info: {hetero_channel}.
I will now give you data for the past {seq_len} recorded timestamps, and please help me forecast the data for next {pred_len} recorded timestamps.The data is as follows:
```
{x}
```
Please refer to the historical input data, give me the complete data for the next {pred_len} recorded timestamps, remember to give me the complete data.
You must first conduct reasoning inside <think> ...</think>.
When you have the final answer, you can output the answer inside <answer>...</answer>.
Output format for your answer is :
<think>
...
</think>
<answer>
```
...
```
</answer>
Please obey the format strictly.
